#boton {
    display: block;
    margin: 4% 55%;
    background-color: #EEC0A7;
    border-radius: 50px;
    padding: 8px;
    border: 0cm;
    font-size: 15px;
    width: 10%;
}
#boton:hover {
    box-shadow: 0 0 0 0.2rem rgba(240, 140, 60, 0.25);
}

.boton {
    margin: 0 auto 30px;
    display: block;
    background-color: #f08c4585;
    border-radius: 20px;
    padding: 8px;
    font-size: 15px;
    width: 14%;
}
.boton:hover {
    box-shadow: 0 0 0 0.2rem rgba(240, 140, 60, 0.25);
}

.profile-container input {
    background-color: #F08D45;
    border-radius: 10px;
}
input:hover {
    box-shadow: 0 0 0 0.2rem rgba(240, 140, 60, 0.25);
}

input.form-control:focus {
    background-color: #f08c3c;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(240, 140, 60, 0.25);

}
.deco {
position: absolute;
}

.imgIzq {
  top:40%;
  left:0%;

  max-width: 126px;
  max-height: 180px;

}
.imgDer {
  top:52%;
  right:0%;
  max-width: 150px;
  max-height: 150px;
  border-style:solid;
  border-color: rgba(128, 128, 128, 0.336);
  border-left: rgba(128, 128, 128, 0.26);
  border-width: 1px;
  border-right: rgba(128, 128, 128, 0.329);
}


@media (max-width: 767px) {
  .imgDer,
  .imgIzq {
    display: none;
  }
  .logo {
    width:300px;
  }
  #boton {
    margin:auto;
  }
  #loginForm div {
    width:260px;
  }

}
